<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Add doses to <%= @cocktail.name %></h1>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Submit Dose to #{@cocktail.name}" %>
      <% end %>

      <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %>
      <%= link_to 'Back to cocktails list', cocktails_path %>

    </div>
  </div>
</div>
